.container-site-reasons-section{
    display: flex;
    flex-direction: column;
    background: var(--color-secondary-black);
    color: var(--color-secondary-white);
    padding: 80px 169px 120px 169px;
    gap: 80px;
    justify-content: center;
}

.primary-content-site-reasons-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 71px;
    justify-content: center;
}

.primary-box-site-reasons-section{
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 590px;
}

.primary-box-site-reasons-section h2{
    font-size: var(--font-headline-h3-size);
    font-family: var(--font-title);
    color: var(--color-primary-green);
    text-transform: uppercase;
}

.primary-box-site-reasons-section h3{
    font-size: var(--font-headline-h4-size);
    font-weight: 600;
    font-family: var(--font-body);
    line-height: 1.4;
}

.primary-box-site-reasons-section p{
    font-size: var(--font-headline-style-size);
    font-weight: 400;
    font-family: var(--font-body);
    line-height: 1.6;
    opacity: 0.8;
}

.secondary-content-site-reasons-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 71px;
    justify-content: center;
}

.secondary-box-site-reasons-section{
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 590px;
}

.secondary-box-site-reasons-section h2{
    font-size: var(--font-headline-h3-size);
    font-family: var(--font-title);
    color: var(--color-primary-green);
    text-transform: uppercase;
}

.secondary-box-site-reasons-section h3{
    font-size: var(--font-headline-h4-size);
    font-weight: 600;
    font-family: var(--font-body);
    line-height: 1.4;
}

.secondary-box-site-reasons-section p{
    font-size: var(--font-headline-style-size);
    font-weight: 400;
    font-family: var(--font-body);
    line-height: 1.6;
    opacity: 0.8;
}