.content-ia-secondary-cards {
    background-color: var(--color-secondary-black);
    color: var(--color-secondary-white);
    display: flex;
    flex-direction: column;
    gap: 70px;
    align-items: center;
    padding: 80px 0px 160px 0px;

}

.title-ia-secondary-cards {
    font-size: var(--font-subheadline-h2-size);
    color: var(--color-primary-green);
    text-shadow: 0 0 15px rgba(0, 255, 133, 0.3);
    font-family: var(--font-title);
}

.container-ia-secondary-cards {
    display: flex;
    gap: 46px;
}