.container-design-main-section {
  display: flex;
  justify-content: center;
  padding: 137px 157px 150px 158px;
  background-color: var(--color-secondary-black);
}


.content_design_main_section{
    background-color: var(--color-secondary-black);
    display: flex;
    align-items: center;
    gap: 33px;
}

.container_title_main_section_design{
    display: flex;
    flex-direction: column;
    gap: 19px;
 }

.container_title_main_section_design h1{
    font-family: var(--font-title);
    font-size: var(--font-headline-h2-size);
    color: var(--color-secondary-white);
    color: var(--color-primary-green);
    width: 300px
}

.container_title_main_section_design p{
    font-family: var(--font-style);
    font-size: var(--font-headline-style-size);
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.7);
    width: 300px;
}

.content_design_main_section img{
    width: 103px;
}

.content_design_main_section h2{
    font-family: var(--font-title);
    font-size: var(--font-headline-h3-size);
    color: var(--color-secondary-white);
    width: 750px;
}